
{{ define "links" }}
	<a href="/paste">paste</a>
	<a href="/upload">upload</a>
	<a href="/login">login</a>
	
{{ end }}

{{ define "content" }}
	<p>Welcome to my file/paste hosting site. This place is invite only. Contact me for registration below.</p>
	<p>email: <a href="mailto:nojusr@gmail.com?subject=I wanna register to kelp.ml">nojusr@gmail.com</a></p>
	<p>github: <a href="https://github.com/nojusr">https://github.com/nojusr</a></p>
	<p>patreon: <a href="https://www.patreon.com/kelp_ml">https://www.patreon.com/kelp_ml</a></p>
{{ end }}
